h1
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}
html,
body {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}
.top-wiew-port {
    background-color: white;
}
.top-wiew-port-left {
    display: flex;
    padding-left: 120px;
}
.top-wiew-port-left img {
  width: 39px;
  height: 39px;
  margin-right: 20px;
  margin-top: 20px;
} 
.top-wiew-port-left p {
  margin-right: 50px;
}
.top-wiew-port-left input {
  width: 497px;
  height: 42px;
  margin-top: 16px;
  background-color: #F3F3F3;
  border: none;
}
.top-wiew-port-left button {
  width: 55px;
  height: 42px;
  margin-top: 16px;
  background-color: #3BB77E;
  border: none;
}
.top-wiew-port-left .dropbtn {
width: 112px;
background-color: #F3F3F3;
border: none;
}
.top-wiew-port-right {
  display: flex;
}
.top-wiew-port-right img {
  width: 28px;
  height: 30px;
  margin-left: 15px;
}
.part1 {
  display: flex;
}
.part1 p {
  padding-top: 10px;
}
.top-wiew-port-right .dropbtn{
  width: 65px;
  background-color: white;
  border: none;
}
.part2 {
  display: flex;
  width: 166px;
}
.section-one {
  background-color: white;
  display: flex;
}
.part3 {
background-color: #3BB77E;
  margin-left: 112px;
  width: 218px;
  height: 45px;
  text-align: center;
  display: flex;
}
.section-one img {
  padding-top: 14px;
  width: 24px;
  height: 24px;
}
.part3 .dropbtn {
  border: none;
  background-color: #3BB77E;
  color: white;

}
.navigation {
  margin-left: 89px;
  display: flex;
}
.navigation img {
  width: 20px;
  height: 20px;
}
.navigation p {
  font-size: 16px;
  font-weight: 500 Medium;


} 
.parts1 {
  display: flex;
}
.parts1 p {
  margin-left: 16px;
  color: #3BB77E;
}
.parts2 {
  display: flex;
  margin-left: 24px;
}
.parts2 p {
  margin-left: 16px;
}
.parts3 {
  display: flex;
  margin-left: 24px;
}
.parts3 p {
  margin-left: 16px;
}
.parts4 {
  display: flex;
margin-left: 24px;
}
.parts4 p {
  margin-left: 16px;
}
.Call-number {
  display: flex;
  margin-left: 80px;
}
.number p {
  color: #3BB77E;
  margin-left: 10px;
}
.Call-number p {
  margin-left: 10px;
}
.section-two {
  background-image: url("../img/baner9.png");
  background-position: center;
  background-size: cover;
  width: 110%;
  display: flex;
  margin: 0 auto;
}
.section-two-content-left {
  width: 50%;
  }
  .section-two-content-left h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 69px;
    margin-left: 112px;
  }
  .section-two-content-left p {
    margin-left: 112px;
    color: #838383;
  }

  .section-two-content-left-part input {
  width: 329px;
  height: 52px;
  margin-top: 80px;
  margin-left: 112px;
  }
  .section-two-content-right {
    width: 50%;
  }
  .section-two-content-left-part .green-button {
    margin-top: auto;
  }
  .green-button {
      background: #00d285;
      border-radius: 0px;
      text-align: center;
      color: white;
      text-decoration: none;
      padding: 18px 40px;
      margin-right: 34px;
      display: inline-block;
  }
  .section-nine {
    background-image: url("../img/baner9.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    margin: 0 auto;
  }
  .section-nine-left {
    width: 50%;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 112px;
  }
  .section-nine-left h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 69px;
  
    margin-bottom: 100px;
  }
  .section-nine-left p {
  
    margin-bottom: 80px;
    color: #838383;
  }
  .section-nine-left img{
  width: 219px;
  height: 63px;
  padding-right: 20px;
  }
  .section-nine-right {
    width: 50%;
    padding-top: 20px;
  }
  .section-nine-right img {
    width: 669px;
    height: 716px;
  }
  .section-ten {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.section-ten-item {
  flex:1;
  padding:20px;
  margin: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  width: 33.3;
}
.section-ten-item h1{
  font-size: 18px;
  width: 600;
  line-height: 22px;
}
.section-ten-item p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.section-ten-item img {
  width: 52px;
  margin-right: 10px;
}

.last-div {
  background-color: white;
  display: flex;
}
.last-div p {
  font-size: 16px;
  line-height: 20px;
  margin-left: 120px;
}
.center img {
  margin-left: 210px;
  width: 224px;
  padding-top: 10px;
}
.left-part {
  margin-left: 400px;
  display: flex;
}
.left-part img {
  width: 44px;
  height: 44px;
padding-right: 20px;
}

