h1
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}
html,
body {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}
.top-wiew-port {
    background-color: white;
}
.top-wiew-port-left {
    display: flex;
    padding-left: 120px;
}
.top-wiew-port-left img {
  width: 39px;
  height: 39px;
  margin-right: 20px;
  margin-top: 20px;
} 
.top-wiew-port-left p {
  margin-right: 50px;
}
.top-wiew-port-left input {
  width: 497px;
  height: 42px;
  margin-top: 16px;
  background-color: #F3F3F3;
  border: none;
}
.top-wiew-port-left button {
  width: 55px;
  height: 42px;
  margin-top: 16px;
  background-color: #3BB77E;
  border: none;
}
.top-wiew-port-left .dropbtn {
width: 112px;
background-color: #F3F3F3;
border: none;
}
.top-wiew-port-right {
  display: flex;
}
.top-wiew-port-right img {
  width: 28px;
  height: 30px;
  margin-left: 15px;
}
.part1 {
  display: flex;
}
.part1 p {
  padding-top: 10px;
}
.top-wiew-port-right .dropbtn{
  width: 65px;
  background-color: white;
  border: none;
}
.part2 {
  display: flex;
  width: 166px;
}
.section-one {
  background-color: white;
  display: flex;
}
.part3 {
background-color: #3BB77E;
  margin-left: 112px;
  width: 218px;
  height: 45px;
  text-align: center;
  display: flex;
}
.section-one img {
  padding-top: 14px;
  width: 24px;
  height: 24px;
}
.part3 .dropbtn {
  border: none;
  background-color: #3BB77E;
  color: white;

}
.navigation {
  margin-left: 89px;
  display: flex;
}
.navigation img {
  width: 20px;
  height: 20px;
}
.navigation p {
  font-size: 16px;
  font-weight: 500 Medium;


} 
.parts1 {
  display: flex;
}
.parts1 p {
  margin-left: 16px;
  color: #3BB77E;
}
.parts2 {
  display: flex;
  margin-left: 24px;
}
.parts2 p {
  margin-left: 16px;
}
.parts3 {
  display: flex;
  margin-left: 24px;
}
.parts3 p {
  margin-left: 16px;
}
.parts4 {
  display: flex;
margin-left: 24px;
}
.parts4 p {
  margin-left: 16px;
}
.Call-number {
  display: flex;
  margin-left: 80px;
}
.number p {
  color: #3BB77E;
  margin-left: 10px;
}
.Call-number p {
  margin-left: 10px;
}
.last-div {
  background-color: white;
  display: flex;
}
.last-div p {
  font-size: 16px;
  line-height: 20px;
  margin-left: 120px;
}
.center img {
  margin-left: 210px;
  width: 224px;
  padding-top: 10px;
}
.left-part {
  margin-left: 400px;
  display: flex;
}
.left-part img {
  width: 44px;
  height: 44px;
padding-right: 20px;
}

