h1
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}
html,
body {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}
.top-view-port {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(173, 173, 173, 0.17);
}
.top-wiew-port-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
  margin-right: 20px;
}
button i {
  color: white;
  font-size: 20px;
}
.top-wiew-port-left input {
  width: 497px;
  height: 42px;
  background-color: #F3F3F3;
  border: none;
}
.top-wiew-port-left button {
  width: 55px;
  height: 42px;
  background-color: #3BB77E;
  border: none;
}
.wishlist {
  text-decoration: none;
  display: flex;
  margin-left: 20px;
  align-items: center;
position: relative;
}
.wishlist img {
  width: 30px;
}
.wishlist span {
  background-color: #00d285;
  border-radius: 15px;
  border: 2px solid #FFFFFF;
  font-size: 14px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 14px;
  top: -6px;
}
.my-cart {
display: flex;
text-decoration: none;
margin-left: 50px;
position: relative;
align-items: center;
}
.my-cart span {
  background-color: #00d285;
  border-radius: 15px;
  border: 2px solid #FFFFFF;
  font-size: 14px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 14px;
  top: -6px;
}
.my-cart p {
  margin: 0px;
  margin-left: 6px;
}
.text-green {
  color: #00d285;
}
.profile {
margin-left: 20px;
text-decoration: none;
display: flex;
align-items: center;
color: black;
}
.navigation .text-green {
  display: flex;
  align-items: center;
}
.top-wiew-port-left a img {
  margin-right: 8px;
}
.top-wiew-port-left .dropbtn {
width: 112px;
background-color: #F3F3F3;
border: none;
}
.top-wiew-port-right {
  display: flex;
  margin-left: 20px;
}
.top-wiew-port-right img {
  width: 28px;
  height: 30px;
}
.part1 {
  display: flex;
}
.part1 p {
  padding-top: 10px;
}
.top-wiew-port-right .dropbtn{
  width: 65px;
  background-color: white;
  border: none;
}
.part2 {
  display: flex;
  width: 166px;
}
.section-one {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part3 {
background-color: #3BB77E;
  text-align: center;
 padding: 10px;
  display: flex;
}
.section-one img {
  margin-right: 6px;
  padding-left: 5px;
}
.part3 .dropbtn {
  border: none;
  background-color: #3BB77E;
  color: white;
  padding-top: 5px;
}
.navigation {
  display: flex;
  margin-left: 100px;
}
.text-black {
color: black;
text-decoration: none;
  margin-right: 60px;
  display: flex;
  align-items: center;
}
.text-green1 {
  color: #00d285;
  margin-left: 60px;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  display: flex;
}
.text-green {
  margin-right: 60px;
  text-decoration: none;
}

.section-two {
  background-image: url("../img/baner9.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding-bottom: 100px;
}
.contajner {
  width: 80%;
  display: flex;
  margin:0 auto;
}
.section-two-content-left {
  flex: 1;
  }
  .section-two-content-left h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 69px;
  }
  .section-two-content-left p {
    color: #838383;
  }

  .section-two-content-left-part input {
  width: 329px;
  height: 52px;
  margin-top: 80px;
  }
  
  .section-two-content-left-part .green-button {
    margin-top: auto;
  }
  .green-button {
      background: #00d285;
      border-radius: 0px;
      text-align: center;
      color: white;
      text-decoration: none;
      padding: 18px 40px;
      margin-right: 34px;
      display: inline-block;
  }
  .section-two-content-right {
    position: absolute;
    right: 0;
  }
  .section-three {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 80%;
    margin: 0 auto; 
}
.section-three-center-right .text-green {
  color: #00d285;
  margin-right: 10px;
}
.section-three-center {
  display: flex;
}
.section-three-center-left {
  text-align: left;
}
.section-three-center-right {
  text-align: right;
flex: 1;
  padding-top: 40px;
}
.section-three-center-right a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  line-height: 20px;
  margin-right: 10px;
}
.section-three-top {
  display: flex;
}
.section-three-top .section-three-top-part1:last-child {
margin: 0;
}
.section-three-top h1 {
  font-size: 18px;
}
.section-three-center-right a:last-child {
  margin: 0;
}
.section-three-top .section-four-top-part1:last-child {
  margin: 0;
}
.blue-button img {
  margin-right: 8px;
}
.section-three-top-part1 {
  background-color:#FEEFEA;
  margin-right: 20px;
  flex: 1;
  text-align: center;
}
.section-three-top-part2 {
  background-color:#FFF3FF;
  margin-right: 20px;
  width: 153px;
  text-align: center;
}
.vegetables {
  background-color:#FFF3FF;
  height: 194px;
}
.strawberry {
  background-color:#F2FCE4;
  height: 194px;
}
.apple {
  background-color:#FEEFEA ;
  height: 194px;
}
.orange {
  background-color:#ECFFEC ;
  height: 194px;
}
.potato {
  background-color: #FFFCEB;
  height: 194px;
}
.carrot {
  background-color:#DEF9EC ;
  height: 194px;
}
.section-four-top-part1 > img {
  width: 100%;
}
.section-three-top-part3 {
  background-color:#F2FCE4;
  margin-right: 20px;
  width: 153px;
  text-align: center;
}
.section-three-top-part4 {
  background-color:#FEEFEA;
  margin-right: 20px;
  width: 153px;
  text-align: center;
}
.section-three-top-part5 {
  background-color:#ECFFEC;
  margin-right: 20px;
  width: 153px;
  text-align: center;
}
.section-three-top-part6 {
  background-color:#FFFCEB;
  margin-right: 20px;
  width: 153px;
  text-align: center;
}
.section-three-top-part7 {
  background-color:#DEF9EC;
  margin-right: 20px;
  width: 153px;
  text-align: center;
}
.section-four {
    padding-bottom: 10px;
    width: 80%;
    margin: 0 auto; 
}
.section-four-top-part1 {
    padding: 20px;
    flex: 1;
    border: 1px solid rgba(173, 173, 173, 0.25);
    margin-right: 10px;
}
*{
  box-sizing: border-box;
}
.section-four-top-part3 {
  margin-right: 20px;
}
.section-four-top-part4 {
  margin-right: 20px;
}
.section-four-top-part5 {
  margin-right: 20px;
}
.last {
  display: flex;
}
.last h2 {
  color: #00d285;
  margin-right: 10px;
  font-size: 18px;
}
.last p {
  padding-top: 4px;
  text-decoration: line-through;
  font-size: 14px;
  margin-right: 50px;
}
.blue-button {
  background-color:#DEF9EC;
padding: 10px 30px;
  text-align: center;
  color:#00d285;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.section-five {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 80%;
    margin: 0 auto;
    display: flex; 
}
.section-five-left {
  background-image: url("../img/Frame\ 98.png");
  background-position: center;
  display: flex;
  background-size: cover;
  height: 350px;
  display: flex;
  margin-right: 30px;
  flex: 1;
}
.section-five-left-left {
display:inline-block;
flex: 1;
text-align: left;
margin-right: 10px;
padding-top: 30px;
padding-left: 50px;
}
.section-five-left-right {
  text-align: right;
  padding-top: 60px;
  padding-right: 50px;
}
.section-five-left-right img {
  width: 184px;
  height: 289px;
}
.yellow-button {
    background: #FFD480;
    border-radius: 0px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 34px;
    display: inline-block;
}
.section-five-left-left p {
  margin-bottom: 20px;
}
.section-five-right {
  background-image: url("../img/baner9.png");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 350px;
  flex: 1;
}
.section-five-right-left {
  display:inline-block;
  flex: 1;
text-align: left;
margin-right: 10px;
padding-top: 50px;
padding-left: 50px;
}
.green-button1 {
  background-color: #00d285;
    border-radius: 0px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 34px;
    display: inline-block;
}
.section-five-right-left p {
  margin-bottom: 40px;
}
.section-five-right-right {
  text-align: right;
  padding-top: 88px;
}
.section-five-right-right img {
  width: 275px;
  height: 258px;

}
.section-six {
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto; 
}
.section-six-content{
  display:flex;
  margin-bottom: 50px;
}
.section-six-content h1 {
  font-size: 32px;
  font-weight: 600;
  margin-right: 30px;
}
.section-six-content a {
text-decoration: none;
color: black;
padding-top: 30px;
margin-right: 10px;
}
.red-button {
  background-color:#F35244;
    border-radius: 0px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 34px;
    display: inline-block;
}
.section-six-top {
  display: flex;
}
.section-six-top-part1{
  flex: 1;
  border: 1px solid rgba(173, 173, 173, 0.25);
  margin-right: 20px;
  padding: 20px;
  position: relative;
}
.section-six-top-part1 .yellow-button {
  position: absolute;
  left: 0px;
  top: 0px;
}
.section-six-top-part1 > img {
  width: 100%;
}
.parts9 {
  display:inline-block;
  width: 100%;
}
.parts9-one {
  display: flex;
}
.parts9-one h2 {
  color: #3BB77E;
  margin-right: 14px;
}
.parts9-one p {
  padding-top: 10px;
  color: #838383;
  text-decoration: line-through;
}
.parts9-two p {
  font-size: 13px;
  padding-bottom: 4px;
}
.parts9-three .green-button{
  background-color:#3BB77E;
width: 100%;
}
.meat .blue-button {
  background-color: #DEF9EC;
  padding: 10px 30px;
  text-align: center;
  color: #00d285;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
.form-box {
  padding: 0;
  margin: 0;
}
.section-six-top-part2 {
  margin-top: 20px;
}
.parts9-three .green-button img {
  margin-right: 6px;
  width: 12px;
  height: 12px;
}
.section-six-top-part5 {
  background-image: url("../img/Frame\ 98.png");
  background-position: center;
  background-size: cover;
  display: inline-block;
}
.meat {
  margin-top: 10px;
  padding-top: 10px;
}
.e-mail {
  background-image: url("../img/Frame\ 98.png");
  background-position: center;
  background-size: cover;
  height: 100%;
}
.five-center {
  text-align: center;
}
.five-center h3 {
  font-size: 32px;
  padding-top: 40px;
  margin-top: 0px;
}
.five-center p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.five-center-part2 {
  padding-left: 10px;
  margin-top: 50px;
}
.five-center-part2 p {
  font-size: 12px;
}
.five-center-part2 input {
  width: 227px;
  height: 40px;
}
.five-center-part3 {
  padding-left: 10px;
  margin-top: 50px;
}
.five-center-part3 p {
  font-size: 12px;
}
.five-center-part3 input {
  width: 227px;
  height: 40px;
}
.five-center-part4 {
  margin-top: 70px;
  padding-left: 10px;
  padding-right: 16px;
}
.five-center-part4 .green-button {
  background-color: #3BB77E;
  width: 100%;
  flex: 1;
}
.section-seven {
  display: flex;
  padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}
.part1-content1 {
  display: flex;
  margin-top: 30px;
}
.part1-content1-left {
  margin-right: 10px;
  margin-top: 26px;
}
.par1-money {
  display: flex;
}
.par1-money h3 {
  color: #00d285;
  margin-right: 10px;
}
.par1-money p {
  text-decoration: line-through;
  padding-top: 4px;
  color:#838383;
}
.section-seven-top {
  display: flex;
  width: 100%;
}
.section-seven-top-part1 {
  width: 25%;
}
.section-seven-top-part2{
  width: 25%;
}
.section-seven-top-part3{
  width: 25%;
}
.section-seven-top-part4{
width: 25%;
}
  .section-nine {
    background-image: url("../img/baner9.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    margin: 0 auto;
  }

  .section-nine-left {
    width: 50%;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-nine-left h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 69px;
    margin-bottom: 100px;
  }
  .section-nine-left p {
    margin-bottom: 80px;
    color: #838383;
  }
  .section-nine-right {
    width: 50%;
    padding-top: 20px;
  }
  .section-nine-right img {
    width: 669px;
    height: 716px;
  }
  .section-ten {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.section-ten-item {
  flex:1;
  padding:20px;
  margin: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  width: 33.3;
}
.section-ten-item h1{
  font-size: 18px;
  width: 600;
  line-height: 22px;
}
.section-ten-item p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.section-ten-item img {
  width: 52px;
  margin-right: 10px;
}

  .section-eleven {
    padding-bottom: 120px;
    border: 2px solid rgba(0, 0, 0, 0.05);
  }
.section-eleven-content {
  display: flex;
  padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}
.section-eleven-content-item img {
  margin-right: 8px
}
.navigation1 {
  display: inline-block;
  width: 25%;
}
.navigation1 p {
  display: inline-block;
  font-size: 16px;
}
.navigation1 a {
  display:block;
  color: black;
  text-decoration: none;
  line-height: 30px;
}
.section-eleven-content-item {
  display: flex;
  align-items: center;
}
.section-eleven-content-item p {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.last-div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last-div p {
  font-size: 16px;
  line-height: 20px;
margin-right: 300px;
}
.center img {
  width: 224px;
  padding-top: 10px;
  text-align: center;
  margin-right: 300px;
}
.left-part {
  display: flex;
}
.left-part img {
  height: 44px;
padding-right: 20px;
}
@media only screen and (max-width: 1024px) {
  .top-wiew-port-left {
    display: block;
}
.top-wiew-port-left img {
  width: 39px;
  height: 39px;
  margin-top: 20px;
}
.top-wiew-port-left p {
  
 margin-right:0px;
}
.top-wiew-port-left input {
  width: 300px;
  height: 42px;
  margin-top: 16px;
  background-color: #F3F3F3;
  border: none;
}
.top-wiew-port-left button {
  width: 55px;
  height: 42px;
  margin-top: 16px;
  background-color: #3BB77E;
  border: none;
}.top-wiew-port-right {
  display: block;
}
.section-one {
  background-color: white;
  display: block;
}
.part3 {
  background-color: #3BB77E;
  height: 45px;
  text-align: center;
  display: flex;
}
.navigation {
  display: block;
}
.Call-number {
  display: flex;
}
.section-two {
  background-image: url(../img/baner9.png);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  display: block;
}
.section-two-content-left {
  width: 100%;
}
.section-two-content-left h1 {
  font-weight: bold;
  font-size: 42px;
}
.section-two-content-left p {
  color: #838383;
}
.section-two-content-left-part {
  display: flex;
}
.section-two-content-left-part input {
  width: 329px;
  height: 52px;
  margin-top: 80px;
}
.section-two-content-right {
  width: 100%;
}
.section-two-content-right img{
  width: 400px;
  margin-top: 30px;
}
.section-three {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  margin: 0 auto;
}
.section-three-center-left {
  text-align: left;
}
.section-three-top {
  display: block;
}
.section-four {
  padding-bottom: 10px;
  width: 100%;
  margin: 0 auto;
}
.section-five {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  margin: 0 auto;
  display: block;
}
.section-five-left {
  background-image: url(../img/Frame\ 98.png);
  background-position: center;
  display: block;
  background-size: cover;
  height: 700px;
  width: 400px;
  margin-right: 30px;
}
.section-five-left-left {
  display: inline-block;
  text-align: left;
  margin-right: 10px;
  padding-top: 30px;
}
.section-five-left-right {
  padding-top: 60px;
  text-align: center;
}
.section-five-right {
  background-image: url(../img/baner9.png);
  background-position: center;
  background-size: cover;
  display: block;
  height: 700px;
  width: 400px;
}
.section-five-right-right {
  padding-top: 88px;
}
.section-six {
  padding-bottom: 10px;
  width: 100%;
  margin: 0 auto;
}
.section-six-content {
  display: block;
  margin-bottom: 50px;
}
.red-button {
  background-color: #F35244;
  border-radius: 0px;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 34px;
  display: inline-block;
}
.section-six-top {
  display: block;
}
.section-six-top-part1 {
  display: table-caption;
}
.section-six-top-part2 {
  display: table-caption;
}
.section-six-top-part3 {
  display: table-caption;
}
.section-six-top-part4 {
  display: table-caption;
}
.section-six-top-part {
  background-image: url(../img/Frame\ 98.png);
    background-position: center;
    background-size: cover;
    display: block;
}
.section-seven {
  display: block;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
}
.section-seven-top {
  display: block;
  width: 100%;
}
.section-nine {
  background-image: url(../img/baner9.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.section-nine-left {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-nine-left h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 0px;
}
.section-nine-left p {
  margin-bottom: 80px;
  color: #838383;
}
.section-nine-right {
  width: 100%;
  padding-top: 20px;
}
.section-nine-right img {
  width: 380px;
  height: 506px;
}
.section-ten {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  margin: 0 auto;
  display: block;
}
.section-eleven-content {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.navigation1 {
  display: block;
  width: 100%;
}
.last-div {
  display: block;
}
.last-div p {
  font-size: 16px;
  line-height: 20px;
}
.center img {
  width: 224px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.left-part {
  display: flex;
}
}