h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}
html,body {
    font-family: 'Montserrat', sans-serif;
}
.start {
    background-color: 000000;
    width: 50%;
}
.start h1 {
    color: white;
}
.contajner {
    background-color:white;
    padding-right: 100px;
   text-align: right;
}

.contajner img {
    position: absolute;
    width: 455px;
    height: 521px;
    left: 101px;
}
.contajner h1 {
    font-weight:600;
   font-size:36px;
   color: #000D2F;
   height: 54px;
   font-weight: 325px;
   text-align: right;
   padding-right: 300px;
}
.contajner p {
    font-weight: 500;
    font-size: 14px;
    padding-right: 150px;
    text-align: right;
}


.contajner h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    padding-right:500px;
    text-align: right;
    }
    .contajner p1 {
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    padding-right: 100px;
    text-align: right;
    }
    .contajner h3 {
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        padding-right: 450px;
        text-align: right;
    }
    .contajner p2 {
        font-size: 14px;
        font-weight:normal;
        font-style: normal;
        padding-right:238px;
        text-align: right;
    }
    .contajner h4 {
        font-style: normal;
     font-weight: 600;
     font-size: 14px;
     padding-right: 350px;
     text-align: right;
    }
    .contajner p3 {
     font-style: normal;
    font-weight: normal;
     font-size: 12px;
     padding-right: 238px;
     text-align: right;
    }
.contajner h5 {
    font-style: normal;
font-weight: 600;
font-size: 14px;
padding-right: 300px;
text-align: right;
}
.contajner p4 {
    font-style: normal;
font-weight: normal;
font-size: 12px;
padding-right:238px;
text-align: right;
}
.baner {
    background-color:white;
    text-align: right;
}
.baner img {
position: absolute;
width: 607px;
height: 472px; 
left: 42px;
}
.baner h1 {
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
padding-right: 250px;
}
.baner p {
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
}
.navigation-button {
    background-color:#00D285;
    color: white;
    text-transform: uppercase;
    padding: 19px 32px;
    border-radius: 100px;
    display: flex;
    float: right;
    font-weight: 600;
    font-size: 14px;
}