h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
/* .start img {
    width: 1280px;
    height: 736px;

}
.first-img {
    width: 515px;
    height: 581.05px;
   padding-left: 703px;
padding-top: 154.95px;
padding-right:62px;
}
.start h1 {
    position: absolute;
    width: 549px;
    height: 110px;
    padding-top:188px;
padding-left:97px;
    padding-right: 630px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height:50px;
    color: #FFFFFF;
}
.start p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}



.navgation-button6{
background-color: #00D285;
    color: white;
    text-transform: uppercase;
    padding: 19px 32px;
    border-radius: 100px;
    display: flex;
    float: left;
    font-weight: 600;
    font-size: 14px;
}


.navigation-button8 {
    background-color: white;
color: #262626;
    text-transform: uppercase;
    padding: 19px 32px;
    border-radius: 100px;
    display: flex;
    float: left;
    font-weight: 600;
    font-size: 14px;
}



.contajner {
    background-color:white;
    padding-left: 101px;
    padding-right:62px;
    text-align: right;
  width: 1117px;
  height: 621px;
}
.contajner h1 {
    font-weight: 600;
    font-size: 36px;
    color: #000D2F;
    height: 54px;
    font-weight: 325px;
    text-align: right;
}
.contajner p {
    font-weight: 500;
    font-size: 14px;
    text-align: right;
}
.contajner img {
    position: absolute;
    width: 455px;
    height: 521px;
    left: 101px;
}

.contajner h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: right;
}
.contajner p {
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    text-align: right;
}
.second-img {
    width: 50px;
height: 50px;
}
.contajner h3 {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-align: right;
}

.contajner p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: right;
}
.contajner h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
}
.contajner p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: right;
}
.contajner h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
}
.contajner p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: right;
}
.baner {
    background-color: rgb(241, 250, 245);
    text-align: right;
    width: 1280px;
    height: 580px;
    padding-right: 62px;
    padding-left: 101px;
}
.baner img {
    position: absolute;
    width: 607px;
    height: 472px;
    left: 42px;
}
.baner h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: black;
    text-align: right;
}

.navigation-button {
    background-color:#00D285;
    color: white;
    text-transform: uppercase;
    padding: 19px 32px;
    border-radius: 100px;
    display: flex;
    float: right;
    font-weight: 600;
    font-size: 14px;
    text-align:right ;
}
.center {
    background-color: white;
    width: 1280px;
    height: 580px;
    padding-right: 0px;
    padding-left: 101px;
    text-align: left;
}
.center h1 {
    font-style: normal;
font-weight: 600;
font-size: 18px;
color: black;
text-align: right;
}
.center p{
    padding-left: 680px;
    padding-right: 50px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
}
.center img {
    width: 1280px;
    height: 511px;
    padding-left: 0px;
    padding-right: 62px;
}

.navigation {
    width: 1280px;
    height: 580px;
text-align: left;
background-color: rgb(241, 250, 245);;
}
.navigation h1 {
   text-align: right;
   font-size: 36px;
line-height: 44px;
color: #262626;
}
.navigation p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

}
.navigation img {
    position: absolute;
    width: 607px;
    height: 472px;
    padding-left: 42px;
}
.navigation-button10 {
    background-color:#00D285;
    color: white;
    text-transform: uppercase;
    padding: 19px 32px;
    border-radius: 100px;
    display: flex;
    float: right;
    font-weight: 600;
    font-size: 14px;
    text-align:right ;

}
.navigation-button11{
    background-color:#00D285;
    color: white;
    text-transform: uppercase;
    padding: 19px 32px;
    border-radius: 100px;
    display: flex;
    float: right;
    font-weight: 600;
    font-size: 14px;
    text-align:right ;
}

.comment {
    background-color: white;

    padding-left: 66px;
    padding-right: 63px;
    
    
}
.comment h1 {
    font-style: normal;
font-weight: 700;
font-size: 36px;
text-align: center;
color: black;
}
.comment p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
text-align: center;
}
.part1{
    display: inline-block;
    width: 33.33%;
    background-color: EBFAF4;
}
.part1 h1 {
    font-style: normal;
font-weight: 600;
font-size: 24px;
}
.part1 p{
    font-style: normal;
font-weight: 400;
font-size: 14px;
}
.part2 {
    display: inline-block;
    width: 33.33%;
    background-color: EBFAF4;
}
.part2 h1 {
    font-style: normal;
font-weight: 600;
font-size: 24px;
}
.part2 p {
    font-style: normal;
font-weight: 400;
font-size: 14px;
}
.part3 {
    display: inline-block;
    width: 26%;
    background-color: EBFAF4;
}
.part3 h1 {
    font-style: normal;
font-weight: 600;
font-size: 24px;
}
.part3 p {
    font-style: normal;
font-weight: 400;
font-size: 14px;
}
.part4 {
    display: inline-block;
    width: 33.33%;
    background-color: EBFAF4;
}
.part4 h1 {
    font-style: normal;
font-weight: 600;
font-size: 24px;
}
.part4 p {
    font-style: normal;
font-weight: 400;
font-size: 14px;
}
.part5 {
    display: inline-block;
    width: 33.33%;
    background-color: EBFAF4;
}
.part5 h1 {
    font-style: normal;
font-weight: 600;
font-size: 24px;
}
.part5 p {
    font-style: normal;
font-weight: 400;
font-size: 14px;
}
.part6 {
    display: inline-block;
    width: 26%;
    background-color: EBFAF4;
}
.part6 h1 {
    font-style: normal;
font-weight: 600;
font-size: 24px;
}
.part p {
    font-style: normal;
font-weight: 400;
font-size: 14px;
}
.penultimate {
    width: 1280px;
height: 286px;
background-color: #EBFAF4;
}
.penultimate h1 {
    font-style: normal;
font-weight: 500;
font-size: 36px;
color: black;
}
.penultimate p {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
}
.navigation-button3 {
    background-color:#00D285;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 19px 32px;
    border-radius: 100px;
    display: flex;
    float: right;
    font-weight: 600;
    font-size: 14px;
}
.last {
    background-color:black;
    width: 1280px;
height: 563px;
}
.last img {
    width: 1280px;
    height: 563px;
}
.last h1 {
    width: 109px;
height: 19.25px;
padding-left: 183px;
} */

.top-view-port {
  background-image: url("../img/into-bg1.jpeg");
  background-position: center;
  background-size: cover;
}
.navigation {
  padding-top: 60px;
  text-align: right;
  width: 90%;
}
.navigation a {
  color: white;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
}
.top-view-port_content {
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.top-view-port-content-left {
  width: 40%;
}
.top-view-port-content-left h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 50px;
  color: #ffffff;
}
.top-view-port-content-left p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 50px;
}

.top-view-port-content-right {
  text-align: right;
  flex: 1;
}
.green-button {
  background: #00d285;
  border-radius: 100px;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 18px 40px;
  margin-right: 34px;
  display: inline-block;
}

.white-button{
    background: #fff;
    border-radius: 100px;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 18px 40px;
}
.section-one{
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.section-one-left{
    width: 50%;
    padding-right: 120px;
}
.section-one-right{
    width: 50%;
}
.section-one-right h2{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}
.section-one-right p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000D2F;
}
.images-list-item{
    display: flex;
    align-items: flex-start;
}
.images-list-item img{
    margin-top: 10px;
    padding-right: 20px;
}
.images-list-item p{
    font-size: 16px;
    margin-top: 0;
    line-height: 34px;
}
.images-list-item h3{
    margin-bottom: 5px;
}
.section-two{
    background-image:url("../img/section-img1.jpeg");
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-four{
    background-image:url("../img/into-bg2.png");
}
.section-two-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.section-two-left{
    width: 50%;

}
.section-two-right{
flex: 1;
padding-left: 50px;
}
.section-two-right h2{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}
.section-two-right p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000D2F;
    margin-bottom: 50px;
}

.section-three{
    padding-top: 120px;
    padding-bottom: 80px;
    background: rgba(0, 47, 166, 0.05);


}
.section-three-content{
    width: 80%;
    display: flex;
    margin: 0 auto;
}
.section-three-left{
    width: 40%;
}
.green-line{
    background: #00D285;
    width: 44px;
    display: inline-block;
    height: 2px;
}
.flex{
    display: flex;
    align-items: center;
}
.section-three-left h4{
    margin: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
}
.section-three-left p{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000D2F;
}
.section-three-right{
    width: 50%;
}
.white-card{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 30px 44px;
    -webkit-box-shadow: 34px 42px 0px -8px rgba(225,225,225,1);
-moz-box-shadow: 34px 42px 0px -8px rgba(225,225,225,1);
box-shadow: 34px 42px 0px -8px rgba(225,225,225,1);
}
.white-card img{
    width: 80px;
    height: 80px;
}
.white-card p{
    font-size:22px;
    font-weight: 300;
    line-height: 40px;
}
.white-card .name{
    display: block;
    margin-bottom: 15px;
}
.white-card .position {
   display: block;
   width: 100%;
    }
.white-card .position span{
text-align: right;
float: right;
}
.bottom-title{
    padding-top: 400px;
}
.section-five {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 80%;
    margin: 0 auto;
    
}
.section-five-center{
    text-align:center;
}
.section-five-center h1{
    font-weight: 700;
font-size: 36px;
line-height: 54px;         
}
.section-five-center p {
    font-weight: 500;
font-size: 14px;
line-height: 21px;
}
.section-five-top{
  display: flex;
}
.section-five-top-item {
   flex:1;
   background-color: #EBFAF4;
   padding:20px;
   margin: 10px;
   display: flex;
   align-items: flex-start;
   border-radius: 10px;
}
.section-five-top-item h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;    
    margin-top: 0px;
}
.section-five-top-item p {
    font-weight: 400;
font-size: 14px;
line-height: 21px;
}
.section-five-top-item img {
    width: 30px;
    margin-right: 10px;
}


.section-six { 
    padding-top: 120px;
    padding-bottom: 120px;
  

background-color: #EBFAF4;

}
.section-six-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;

}



.section-six-left{
    width: 50%;
    padding-right: 120px;
}
.section-six-left p {
color:C4C4C4;
}
.section-six-right{
    width: 50%;
    text-align: right;
}

.section-seven {
    background-image: url("../img/Group\ 8990.png");
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
  }
  .section-seven-content {
    display: flex;
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
     
  }
.navigation1 {
    display: inline-block;
    width: 25%;

}
.navigation1 h1 {
    color: white;
    font-size:16px;
}
.copyright  {
    color: white;
    padding-top:120px;
    width: 80%;
    margin: 0 auto;
}
.navigation1 a {
    color: #C4C4C4;
    display: block;
    text-decoration: none;
    padding-bottom: 8px;
    font-size: 13px;
    
}
.navigation1 p {
    color: white;
}
.navigation2 {
    display: inline-block;
    width: 25%;
}
.navigation3 {
    display: inline-block;
    width: 25%;
}
.navigation4 {
    display: inline-block;
    width: 25%;
}
.quick-links {
    display: flex;
}
.quick-links a {
    margin: 6px;
}
.section-seven-item {
    display: flex;
    align-items: center;
}
.section-seven-item img {
    margin-right: 10px;
    width: 24px;
}
.section-seven-item p {
    display: flex;
    align-items: center;
    font-size: 12px;
}
.section-seven-item p a {
    color: #00d285;
    padding-left: 2px;
    padding-bottom: 0px;
    font-size: 12px;
}
.logo {
    margin-top: 30px;
}
@media only screen and (max-width: 768px) {
    .top-view-port {
        background-image: url(../img/into-bg1.jpeg);
        background-position: center;
        background-size: cover;
    }
    .navigation {
        padding-top: 60px;
        text-align: left;
        width: 98%;
        font-size: 12;
    }
    .top-view-port_content {
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .top-view-port-content-left {
        width: 100%;
    }
    .top-view-port-content-left h1 {
        font-weight: 700;
        font-size: 46px;
        line-height: 50px;
        color: #ffffff;
    }
    .top-view-port-content-left p {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 30px;
        color: #ffffff;
        margin-bottom: 50px;
        margin-right: 76px;
    }
    .green-button {
        background: #00d285;
        border-radius: 100px;
        text-align: center;
        color: white;
        text-decoration: none;
        padding: 18px 16px;
        margin-right: 34px;
        display: inline-block;
    }
    .white-button {
        background: #fff;
        border-radius: 100px;
        text-align: left;
        color: black;
        text-decoration: none;
        padding: 18px 16px;
    }
    .section-one {
        padding-top: 120px;
        padding-bottom: 120px;
        width: 100%;
        margin: 0 auto;
    }
    .section-one-left {
        width: 100%;
    }
    element.style {
        width: 330px;
        height: 400px;
    }
    .section-one-right {
        width: 100%;
    }
    .section-one-right h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 54px;
    }
    .section-one-right p {
        font-weight: 500;
        font-size: 12px;
        line-height: 30px;
        color: #000D2F;
    }

}