h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.container {
    width: 90%;
    margin: 0 auto;
    }
    .flex {
      display: flex;
      align-items: center;
    }
    .meni {
     text-align: right;
      flex: 1;
    }
    .top-view-port {
        display: flex;
        align-items: center;
    }
    .top-view-port img {
        width: 95px;
    }
    button i {
        color: white;
        font-size: 20px;
      }
      .top-view-port button img {
        width: 20px;
        height: 20px;
      }
      .top-view-port input {
        width: 644px;
        height: 42px;
        background-color: #F3F3F3;
        border: 20px;
        margin-left: 80px;
      }
      .top-view-port button {
        width: 55px;
        height: 42px;
        background-color:rgb(0, 119, 255);
        border: 20px;
      }
    .top-view-port a {
      text-decoration: none;
      padding-right: 20px;
      color: black;
      font-size: 18px;
    }
    .player {
      text-align: center;
    }
    .part1 {
      display: flex;
      padding-top: 50px;
      border: 1px solid rgba(3, 3, 3, 0.925);
      margin-bottom: 50px;
    }
    .player-left {
      width: 50%;
      padding-bottom: 50px;
    }
    .player-right {
      width: 50%;
      padding-top: 150px;
    }
    .player .container img {
    width: 500px;
    height: 350px;
    }
    .last-div .container{
      display: flex;
    }
   .last-part {
    width: 25%;
    display: grid;
    text-align: center;
   }
   .last-div a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
   } 
   .shirts {
    text-align: center;
    padding-bottom: 20px;  
   }
   .shirts h1 {
    margin-bottom: 30px;
   }
   .first-team {
    display: flex;
   }
   .shirts img{
    width: 500px;
    height: 500px;
   }
   .shirts-left {
width: 50%;
text-align: center;
   }
   .shirts-right {
    width: 50%;
   }
   .second-team {
    display: flex;
   }
   .titleBar {
  text-align: center;
    padding-top: 40px;
    padding-bottom: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.istorija {
  background-image: url(../img/Group\ 1.svg);
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 100px;
    color: bisque;
    margin-bottom: 40px;
    margin-top:40px;
}
.Titule {
  margin-bottom: 40px;
}
.Titule h1 {
  font-size: 50px;
}
.Titule .container{
  display: flex;
}
.titule li {
  padding-bottom: 20px;
}
.tit-left {
  width: 50%;
}
.tit-right {
  width: 50%;
  text-align: center;
  padding-top: 100px;
}