body {
    overflow-x: hidden;
}
h1,h2,h3,h4,h5 {
    font-family: 'Bluu next', sans-serif;
    }
    .body,html{
    font-family: 'Sofia Pro', sans-serif;
    }
.position-relative {
    background-color: #EEB1BC;
}
.inside-beauty {
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-position: center;

}
.inside-beauty-left {
    width: 50%;
}
.pink-button {
background-color:#F5D2D8;
    border-radius: 100px;
}
.left {
    width: 35%;
}
.right {
    width: 65%;
}
.products {
    background-color: #EEB1BC;
}
.contact {
    background-color: #ebc9d1;
}
.about-products {
background-color: #EEB1BC;
}
.accordion-button {
    background-color: bisque;
}
.accordion-body {
    background-color: antiquewhite;
}
.bg {
    background-color: #EEB1BC;
} 
.favorite-product {
    background-color: #EEB1BC;
}
.last-div {
    padding-top: 80px;
    padding-bottom: 80px;
}
.last-div .container1 {
    background-color: #EEB1BC;
    margin-left: 120px;
    margin-right: 120px;
}
.container3-left {
    width: 50%;
}
.container3-right {
    margin: 0 auto;
    padding-left: 450px;
}