.nav-link {
    color: black;
}
.white-button {
    border-radius: 100px;
    text-align: center;
    padding: 14px 32px;
    margin-right: 34px;
}
.black-button {
    border-radius: 100px;
    text-align: center;
    padding: 14px 32px;
    margin-right: 34px;
    background-color: #0A2640;
}
.green-button {
    border-radius: 100px;
    text-align: center;
    padding: 14px 32px;
    margin-right: 34px;
    background-color:#65E4A3;
}

.container input{
    border-radius: 100px;
    width: 370px;
    height: 56px;
    margin-bottom: 20px;
}
.search {
    background-image: url(../img/Group\ 287.png);
    background-size: cover;
    background-position: center;
}
.start-right {
    margin: 0 auto;
    padding-left: 170px;
}
.brends img {
    margin-right: 57px;
    padding-top: 40px;
}
.services {
    background-color: #0A2640;
}
.comment {
    background-color: #0A2640;
}